@page
@using Microsoft.AspNetCore.Identity
@using MvcSecSql.Data.Data.Entities
@inject SignInManager<User> SignInManager

@model CreateModel
@{
    ViewData["Title"] = "Add User to Genre";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-4">
            <h2>@ViewData["Title"]</h2>
            <page-button path="UserGenres/Index" bootstrap-style="primary" glyph="info-sign" description="Back to List"></page-button>
            <page-button path="Index" bootstrap-style="warning" glyph="list-alt" description="Dashboard"></page-button>
            <p></p>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserId" class="control-label"></label>
                    <select asp-for="Input.UserId" class="form-control"
                            asp-items="ViewBag.Users"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Input.GenreId" class="control-label"></label>
                    <select asp-for="Input.GenreId" class="form-control"
                            asp-items="ViewBag.Genres"></select>
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
    <div>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
