@page
@using Microsoft.AspNetCore.Identity
@using MvcSecSql.Data.Data.Entities
@inject SignInManager<User> SignInManager

@model EditModel
@{
    ViewData["Title"] = "Change genre for user";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>@ViewData["Title"]</h2>
            <page-button path="UserGenres/Index" bootstrap-style="primary" glyph="info-sign" description="Back to List"></page-button>
            <page-button path="Index" bootstrap-style="warning" glyph="list-alt" description="Dashboard"></page-button>
            <p></p>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Input.UserGenre.UserId" />
                <input type="hidden" asp-for="Input.UserGenre.GenreId" />
                <input type="hidden" asp-for="Input.UpdatedUserGenre.UserId" />
                <input type="hidden" asp-for="Input.GenreTitle" />

                <div class="form-group">
                    <label asp-for="Input.Email" class="control-label"></label>
                    <input asp-for="Input.Email" readonly class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.UpdatedUserGenre.GenreId" class="control-label"></label>
                    <select asp-for="Input.UpdatedUserGenre.GenreId" class="form-control" asp-items="ViewBag.Genres"></select>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
        <div>
        </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
