@page
@using Microsoft.AspNetCore.Identity
@using MvcSecSql.Data.Data.Entities
@inject SignInManager<User> SignInManager

@model EditModel
@{
    ViewData["Title"] = "Edit Video";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>@ViewData["Title"]</h2>
            <page-button path="Videos/Index" Bootstrap-style="primary"
                         glyph="info-sign" description="Back to List">
            </page-button>
            <page-button path="Index" Bootstrap-style="warning"
                         glyph="list-alt" description="Dashboard">
            </page-button>
            <p></p>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Input.Id" />
                <input type="hidden" asp-for="Input.AlbumId" />
                <div class="form-group">
                    <label asp-for="Input.Title" class="control-label"></label>
                    <input asp-for="Input.Title" class="form-control" />
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Album.Title"></label>
                    <input asp-for="Input.Album.Title" readonly class="form-control" />
                    <span asp-validation-for="Input.Album.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Album.Band.Name"></label>
                    <input asp-for="Input.Album.Band.Name" readonly class="form-control" />
                    <span asp-validation-for="Input.Album.Band.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Description" class="control-label"></label>
                    <input asp-for="Input.Description" class="form-control" />
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Duration" class="control-label"></label>
                    <input asp-for="Input.Duration" class="form-control" />
                    <span asp-validation-for="Input.Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Url" class="control-label"></label>
                    <input asp-for="Input.Url" class="form-control" />
                    <span asp-validation-for="Input.Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Thumbnail"></label>
                    <select asp-for="Input.Thumbnail" class="form-control"
                            asp-items="ViewBag.Thumbnails"></select>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}