@model IEnumerable<AlbumInfoDto>

<ul>
    @foreach (var download in Model)
    {
        <li>
            <a href="@download.AlbumInfoUrl" target="_blank">
                <span class="glyphicon glyphicon-download-alt"></span>
                &nbsp;@download.AlbumInfoTitle
            </a>
        </li>
    }
</ul>
