@model InstructorDto

<div class="instructor-bio panel">
    <div class="panel-body">
        <img src="@Model.InstructorAvatar" class="avatar img-circle">
        <h4>@Model.InstructorName</h4>
        <h5 class="text-primary">Singer</h5>
        <p class="text-dark">@Model.InstructorDescription</p>
    </div>
</div>
