@model GenreDto

<div class="col-sm-4">
    <div class="panel course-listing">
        <img class="thumb" src="@Model.GenreImageUrl">
        <div class="panel-body">
            <h3 class="text-dark">@Model.GenreTitle</h3>
            <p class="text-dark">@Model.GenreDescription</p>
            <a class="btn btn-primary" href="~/Membership/Genre/@Model.GenreId">View Bands</a>
        </div>
    </div>
</div>
