@model GenreViewModel

@{
    ViewData["Title"] = "Bands";
}

<div class="membership top-margin course-content">
    <div class="row navigation-bar">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="~/Membership/Dashboard">
                <span class="glyphicon glyphicon-menu-left"></span>
                Back to Dashboard
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="marquee" style="background-image: url('@Model.Genre.MarqueeImageUrl');">
                    <img src="@Model.Genre.GenreImageUrl" class="cover-image" alt="">
                </div>
                <div class="panel-body">
                    <h1>@Model.Genre.GenreTitle</h1>
                    <h4>
                        @Model.Genre.GenreDescription
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var band in Model.Bands)
        {
            <div class="col-sm-3">
                <a href="~/Membership/Band/@band.BandId" style="text-decoration: none;">
                    @if (Model.Bands != null)
                    {
                        @await Html.PartialAsync("_BandPartial", band)
                    }
                </a>
            </div>
        }
    </div >
</div >