@model VideoViewModel

@{
    ViewData["Title"] = "Video";
}

<div class="membership top-margin video-content">
    <div class="row navigation-bar">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="~/Membership/Band/@Model.Band.BandId">
                <span class="glyphicon glyphicon-menu-left"></span>
                Back to @Model.Band.BandName
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            @if (Model != null && Model.Video != null &&
                 Model.VideoComingUp != null && Model.Genre != null)
            {
                @await Html.PartialAsync("_VideoPlayerPartial", Model)
            }
        </div>

        <div class="col-sm-3">
            @if (Model != null && Model.VideoComingUp != null)
            {
                @await Html.PartialAsync("_VideoComingUpPartial", Model.VideoComingUp)
            }

            @if (Model != null && Model.Band != null)
            {
                @await Html.PartialAsync("_BandPartial",
                    Model.Band)
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            videoJS($("#hiddenUrl").text());
        });
    </script>
}