.instructor-bio { text-align: center; }

.instructor-bio .avatar {
    border: 1px solid #333;
    padding: 8px;
    height: 100px;
    width: 100px;
}

.avatar-bandmember {
    height: 80px;
    width: 80px;
}