.navigation-bar { margin-bottom: 10px; }

.course-content .marquee {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-size: cover;
    /* Relative positioning of the marquee is needed for the cover
       image’s absolute position */
    position: relative;
}

.course-content .marquee .cover-image {
    width: auto;
    height: 140px;
    position: absolute;
    bottom: 0;
    margin: 30px;
    border: 4px solid #FFF;
    border-radius: 2px;
}

.course-listing.panel .thumb {
    width: 100%;
    height: auto;
}

.course-listing.panel .panel-body {
    padding: 10px 30px 30px 30px;
    height: 220px;
}

.course-listing.panel {
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.membership h1, .membership h4 { color: #666c74; }