body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    background-color: #404040;
    color: #dadada;
}

.membership.top-margin { margin-top: 25px; }

.membership h2 { font-size: 1.5em; }

.membership .text-light { color: #dadada !important; }
.membership .text-dark { color: #454c56 !important; }

.membership hr { border-top: 1px solid #dadada; }

.membership hr.thick { border-top-width: 2px; }

.membership hr.margin { margin: 15px 0 25px; }

.membership h3 {
    font-size: 1.25em;
    font-weight: 600;
}

.membership p, .membership a {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.6;
}

.membership a.btn {
    font-weight: 800;
    padding: 9px 15px;
    border-radius: 2px;
}

.membership a.btn.btn-primary {
    background-color: #2d91fb;
    outline: none;
    border: none;
}

.membership a.btn.btn-primary:hover {
    background-color: #0577f0;
    border-color: #0577f0;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

.footer-text {
    color: #333;
}